<app-app-header></app-app-header>
<div class='col-md-2 sidebar_left'>
    <app-sidebar></app-sidebar>
    </div>
    <div class='col-md-10'>
      <h1>Change Password</h1>
      <form ngSubmit="onSubmit()" novalidate style='width:500px;'>
        <label>Old Password</label>
        <input type='password' name="old_password" class='form-control' autocomplete="off">
        <label>New Password</label>
        <input type='password' name="new_password" class='form-control' autocomplete="off">
        <label>Confirm Password</label>
        <input type='password' name="confirm_password" class='form-control' autocomplete="off">
<br>
        <button type="submit" class='btn btn-primary' style='float:right'>Submit</button>
      </form>
    </div>